
body{
    font-weight: 700;
    font-family: 'Manrope';
    font-size: 32px;
    background-color: rgba(255, 235, 238, 0.9); /* Очень светлый розовый */


}
.container{
    max-width: 530px;
    margin: 0px auto;
    padding: 0px 15px;
}
.wrapper{
    margin-top: 126px;
}
.counter{
    text-align: center;
    line-height: 44px;
}
button{
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 36px;
}
.button_top{
    background-color: #4191FF;
}
.button_bottom{
    background-color: #D45366;
}
@media (max-width: 600px) {
    .container{
        width: 100%;
    }
    button{
        width: 100%;
    }

}